.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/
android/
.env
__pycache__/
*.pyc
*.sqlite
*.sqlite3
*.db
.vscode/
.idea/

.netlify/
flutter_chrome_run*.log

